extends ../layouts/default

block variables
  - const title = "Project title"

block content
  //- Site Header
  //- include ../modules/header/header

  //- Site Header
  //- include ../modules/footer/footer
  +image("maskable_icon_x384", "png?as=webp", root)(height=100 width=100, alt="Привет Андней")
  .sample
block scripts
